@charset "UTF-8";
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/_vars.scss */
.cols__col, .post, .post__date, .post__comm, .mini-content__text {
  font-family: "PT Sans", courier;
  font-weight: 300;
}

/* line 33, ../sass/_vars.scss */
.post__h-left {
  font-family: "PT Sans", courier;
  font-weight: 900;
}

/* line 38, ../sass/_vars.scss */
.post__read, .mini-content__h {
  font-family: "PT Sans", courier;
  font-weight: 100;
}

/* line 43, ../sass/_vars.scss */
.cigarette__left, .logo, .screen1 .h2, .screen1 .span1, .screen1 .imgmap__text, .screen2 .imgmap__text, .screen5 .submit {
  font-family: courier;
  font-weight: 900;
}

/* line 47, ../sass/_vars.scss */
.flat-card__head, .screen4 .else {
  font-family: courier;
  font-weight: 500;
}

/* line 52, ../sass/_vars.scss */
.cigarette__right, .navi, .media__body, .icons__title, .icons__descr, .flat-card--2 .flat-card__content, .cat--lvl2, .screen2 h2, .screen2 .posabs1 p, .screen3 h2, .screen4 h2, .screen5 .h2, .screen5 input[type="text"], .screen1 .p1 {
  font-family: courier;
  font-weight: 100;
}

/* line 6, ../sass/bem/_header-simple.scss */
.outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 12, ../sass/bem/_header-simple.scss */
.inner {
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.35em;
}

/* line 21, ../sass/bem/_header-simple.scss */
.header-simple, .footer-simple {
  min-height: 75px;
  color: #fff;
}
/* line 28, ../sass/bem/_header-simple.scss */
.header-simple .text-muted, .footer-simple .text-muted {
  font-family: "PT Serif", courier;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
}
/* line 35, ../sass/bem/_header-simple.scss */
.header-simple:after, .footer-simple:after {
  content: '';
}

/* line 41, ../sass/bem/_header-simple.scss */
.header-simple__left, .footer-simple__left {
  float: left;
}

/* line 45, ../sass/bem/_header-simple.scss */
.header-simple__right, .footer-simple__right {
  float: right;
}

/* FOOTER*/
/* line 56, ../sass/bem/_header-simple.scss */
.footer-simple {
  border-bottom: none;
}

/* line 6, ../sass/bem/_cigarette.scss */
.cigarette {
  display: block;
  width: 311px;
  margin-top: 11px;
  color: #fff;
}

/* line 17, ../sass/bem/_cigarette.scss */
.cigarette__left {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border: 1px solid rgba(198, 156, 109, 0.9);
  padding: 13px 18px 13px 22px;
  width: 226px;
  height: 48px;
  font-size: 16px;
  overflow: hidden;
}

/* line 34, ../sass/bem/_cigarette.scss */
.cigarette__right {
  display: inline-block;
  float: right;
  box-sizing: border-box;
  width: 85px;
  height: 48px;
  padding: 11px 13px 12px 13px;
  font-size: 11.59px;
  overflow: hidden;
  text-transform: uppercase;
  background-color: rgba(198, 156, 109, 0.49);
  background-color: rgba(198, 156, 109, 0.9);
}

/* line 2, ../sass/bem/_navi.scss */
.navi-background {
  background-image: url(../img/navi-bg.jpg);
  background-image: url(../img/navi-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 15, ../sass/bem/_navi.scss */
.navi {
  position: relative;
  /* for lvl2*/
  height: 74px;
  font-size: 20.25px;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  z-index: 1000;
  /* to be on top of everything when opened*/
  color: #c69c6d;
}

/* line 30, ../sass/bem/_navi.scss */
.navi--closed .navi__subthing {
  display: none;
}

/* line 35, ../sass/bem/_navi.scss */
.navi .containerow, .navi .containerow2 {
  height: 100%;
}

/* line 42, ../sass/bem/_navi.scss */
.navi__item {
  position: relative;
  display: inline-block;
  height: 100%;
  /* for link*/
  min-width: 3em;
  /*appx 3 letters*/
  width: 17.5%;
  vertical-align: top;
  /* 
   &:nth-child(1){
       //width: 122px;
       width: 20%;
   }
   &:nth-child(2){
       //width: 127px;
       width: 20%;
   }
   &:nth-child(3){
       //width: 306px;
       width: 20%;
   }
   &:nth-child(4){
       //width: 127px;
       width: 20%;
   }
   &:nth-child(5){
      // width: 157px;
       width: 20%;
   }*/
}
/* line 77, ../sass/bem/_navi.scss */
.navi__item:before {
  display: none;
  content: '';
  position: absolute;
  top: calc(100% + 22px + 20px - 12px);
  left: calc(50% - 7px);
  border-bottom: 12px #6e4aba solid;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
/* line 90, ../sass/bem/_navi.scss */
.navi__item:hover .navi__link, .navi__item.active .navi__link {
  color: #ff5346;
  background-color: rgba(198, 156, 109, 0.26);
}
/* line 96, ../sass/bem/_navi.scss */
.navi__item:first-child {
  text-align: left;
}
/* line 98, ../sass/bem/_navi.scss */
.navi__item:first-child .navi__link {
  margin-left: -25px;
}
/* line 102, ../sass/bem/_navi.scss */
.navi__item:last-of-type {
  text-align: right;
}
/* line 104, ../sass/bem/_navi.scss */
.navi__item:last-of-type .navi__link {
  margin-right: -25px;
}

/* line 111, ../sass/bem/_navi.scss */
.navi__link {
  display: inline-block;
  padding: 29px 25px;
  box-sizing: border-box;
  height: 100%;
}

/* line 122, ../sass/bem/_navi.scss */
.navi__subthing {
  position: absolute;
  left: -62px;
  top: 100%;
}

/* line 133, ../sass/bem/_navi.scss */
.navi--lvl2 {
  max-width: 100vw;
  width: 424px;
  height: 212px;
  /*overflow: hidden;*/
  /* ╨╖╨░╤З╨╡╨╝?*/
  list-style-type: none;
  z-index: 1000;
}

/* line 146, ../sass/bem/_navi.scss */
.navi__item--pdbt {
  padding-bottom: 42px;
}
/* line 150, ../sass/bem/_navi.scss */
.navi__item--pdbt:before {
  display: none;
  content: '';
  position: absolute;
  top: calc(100% - 12px);
}

/* line 157, ../sass/bem/_navi.scss */
.navi__item--block {
  width: auto;
  border-bottom: 1px solid;
}

/* line 165, ../sass/bem/_navi.scss */
.ham {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

/* line 170, ../sass/bem/_navi.scss */
.ham__link {
  display: inline-block;
  /* for pd top*/
  box-sizing: border-box;
  height: 100%;
  padding: 29px 25px;
}
/* line 176, ../sass/bem/_navi.scss */
.ham__link::before {
  content: "тШ░";
}

/* line 182, ../sass/bem/_navi.scss */
.ham__label:hover {
  color: #ccc;
  cursor: pointer;
}

/* line 187, ../sass/bem/_navi.scss */
#ham__check1 {
  display: none;
}

/* line 190, ../sass/bem/_navi.scss */
.ham--added {
  display: none;
  position: absolute;
  top: -50px;
  left: 50%;
}

@media only screen and (max-width: 600px) {
  /* line 208, ../sass/bem/_navi.scss */
  .navi__item--block-copy, #ham__check1:checked ~ * .navi .navi__item {
    width: auto;
    border-bottom: 1px solid;
  }

  /* line 214, ../sass/bem/_navi.scss */
  .navi__item {
    display: none;
    height: auto;
  }

  /* line 218, ../sass/bem/_navi.scss */
  .navi--closed .navi__subthing {
    position: static;
    display: block;
  }

  /* line 225, ../sass/bem/_navi.scss */
  #ham__check1 {
    display: none;
  }
  /* line 229, ../sass/bem/_navi.scss */
  #ham__check1:checked ~ * .navi .navi__item {
    display: block;
    background-color: #23193a;
  }
  /* line 236, ../sass/bem/_navi.scss */
  #ham__check1:checked ~ * .navi .navi__item:first-child {
    text-align: inherit;
  }
  /* line 239, ../sass/bem/_navi.scss */
  #ham__check1:checked ~ * .navi .navi__item:first-child .navi__link {
    margin-left: auto;
  }
  /* line 242, ../sass/bem/_navi.scss */
  #ham__check1:checked ~ * .navi .logo2 {
    display: none;
  }
  /* line 245, ../sass/bem/_navi.scss */
  #ham__check1:checked ~ * .navi .ham--added {
    display: inline-block;
  }
  /* line 251, ../sass/bem/_navi.scss */
  #ham__check1:checked + .wrapper {
    position: relative;
    /*for :before-height%*/
  }
  /* line 253, ../sass/bem/_navi.scss */
  #ham__check1:checked + .wrapper:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(26, 11, 40, 0.72);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    z-index: 1000;
    /* less than dropdown menu*/
  }
}
/*
 *min
*/
@media only screen and (min-width: 600px) {
  /* line 280, ../sass/bem/_navi.scss */
  .ham {
    display: none;
  }

  /* line 294, ../sass/bem/_navi.scss */
  .navi__subthing--bdt, .navi__subthing {
    border-top: 42px solid transparent;
  }

  /* line 301, ../sass/bem/_navi.scss */
  .navi__item--inclusive:hover:before, .navi__item:hover:before, .navi__item--inclusive.active:before, .active.navi__item:before {
    display: block;
  }
  /* line 304, ../sass/bem/_navi.scss */
  .navi__item--inclusive:hover .navi__subthing, .navi__item:hover .navi__subthing, .navi__item--inclusive.active .navi__subthing, .active.navi__item .navi__subthing {
    display: block;
  }
}
/* line 3, ../sass/bem/_cols.scss */
.cols {
  border: 2px solid #6e4aba;
  box-sizing: border-box;
  height: 100%;
  background-color: #1a1f23;
  border-radius: 10px;
}

/* line 17, ../sass/bem/_cols.scss */
.cols__col {
  float: left;
  box-sizing: border-box;
  height: 100%;
  border-left: 1px solid #6e4aba;
  width: 50%;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  list-style-type: none;
  color: #fff;
}
/* line 19, ../sass/bem/_cols.scss */
.cols__col:first-child {
  border-left: none;
}
/* line 40, ../sass/bem/_cols.scss */
.cols__col li {
  padding-bottom: 19px;
}

/*slider*/
/* line 8, ../sass/bem/_slider.scss */
.slider {
  box-sizing: border-box;
  max-height: 299px;
  background-color: #1b2024;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2ZmNTM0NiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjUzNDYiIHN0b3Atb3BhY2l0eT0iMC44NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(85%, rgba(255, 83, 70, 0.8)), color-stop(100%, rgba(255, 83, 70, 0.85)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 83, 70, 0.8) 85%, rgba(255, 83, 70, 0.85) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 83, 70, 0.8) 85%, rgba(255, 83, 70, 0.85) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 83, 70, 0.8) 85%, rgba(255, 83, 70, 0.85) 100%);
}

/* line 25, ../sass/bem/_slider.scss */
.slider__slide {
  display: flex;
  flex-flow: row;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  margin: 0 auto;
  height: 259px;
  /* remove space under images*/
  font-size: 0px;
  line-height: 0px;
  /*text-align: center; /*╨║╨╛╨│╨┤╨░ ╨║╨░╤А╤В╨╕╨╜╨║╨░ ╨╜╨╡ ╨▓╨╗╨░╨╖╨╕╤В, ╨╛╨╜╨░ ╨▒╤Г╨┤╨╡╤В ╤А╨░╤Б╨┐╨╛╨╗╨░╨│╨░╤В╤М╤Б╤П ╨┐╨╛ ╨╗╨╡╨▓╨╛╨╝╤Г ╨║╤А╨░╤О. ╨ж╨╡╨╜╤В╤А╨╕╤А╨╛╨▓╨░╤В╤М╤Б╤П - ╤В╨╛╨╗╤М╨║╨╛ ╨║╨╛╨│╨┤╨░ ╤И╨╕╤А╨╛╨║╨░╤П ╨╛╨▒╨╗╨░╤Б╤В╤М.*/
}

/* line 44, ../sass/bem/_slider.scss */
.inline-block-wrapper {
  /* ╤Б╨┤╨╡╨╗╨░╨╡╤В ╤Б╨▓╨╛╤О ╤И╨╕╤А╨╕╨╜╤Г ╨┐╨╛ ╤И╨╕╤А╨╛╤З╨░╨╣╤И╨╡╨╝╤Г ╨║╨╛╨╜╤В╨╡╨╜╤В╤Г*/
  position: relative;
  /*╨┤╨╗╤П ╨╜╨░╨┤╨┐╨╕╤Б╨╕ ╨╜╨░ ╤Б╨╗╨░╨╣╨┤╨╡*/
  /*position:relative;/* ╨▒╤Л╨╗╨╛ ╨┤╨╗╤П ╨╜╨░╨┤╨┐╨╕╤Б╨╕ ╨╜╨░ ╤Б╨╗╨░╨╣╨┤╨╡*/
}

/* line 50, ../sass/bem/_slider.scss */
.slider__slide img {
  max-height: 100%;
  max-width: 100%;
  /*height: auto;
  max-height: 400px;*/
  /*╨║╨░╨║ ╨▓╨░╤А╨╕╨░╨╜╤В ╨╕╨╖ jcarusel*/
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 7px;
}

/* line 59, ../sass/bem/_slider.scss */
.slider__text {
  position: absolute;
  top: 178px;
  left: 0;
  width: 100%;
  /* not to be content width */
  font-family: "PT Serif", courier;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  color: white;
}
/* line 64, ../sass/bem/_slider.scss */
.slider__text h2 {
  margin-bottom: 34px;
  font-family: Roboto, courier;
  font-size: 48px;
  font-weight: 100;
}
/* line 66, ../sass/bem/_slider.scss */
.slider__text h2 span {
  border-bottom: 1px solid white;
}
/* line 73, ../sass/bem/_slider.scss */
.slider__text h2 b {
  text-transform: uppercase;
}

/* line 5, ../sass/bem/_main.scss */
.main {
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 40px solid transparent;
  padding-top: 39px;
  background-color: #fdfdfd;
}

/* line 15, ../sass/bem/_main.scss */
.main__right {
  float: right;
  width: 26.530612244897959183673469387755%;
}

/* line 19, ../sass/bem/_main.scss */
.main__left {
  float: left;
  width: 67.346938775510204081632653061224%;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 32, ../sass/bem/_main.scss */
  .main__right {
    float: none;
    width: auto;
    text-align: center;
  }

  /* line 38, ../sass/bem/_main.scss */
  .main__left {
    float: none;
    width: auto;
  }
}
/* line 4, ../sass/bem/_logo.scss */
.logo {
  box-sizing: border-box;
  width: 360px;
  font-size: 28.91px;
  text-transform: uppercase;
  color: #c69c6d;
}

/* line 17, ../sass/bem/_logo.scss */
.logo--img, .logo--img1 {
  display: block;
  padding-left: 126px;
  height: 101px;
  padding-top: 28px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: left 50%;
}

/* line 28, ../sass/bem/_logo.scss */
.logo--img1 {
  width: 0;
  padding: 0;
  padding-left: 100px;
}

/* line 4, ../sass/bem/_post.scss */
.posts {
  border: 1px solid #cdcdcd;
}

/* line 8, ../sass/bem/_post.scss */
.post {
  display: block;
  padding: 19px 19px;
  font-size: 14px;
  color: #959595;
  background-color: #f0f0f0;
}
/* line 20, ../sass/bem/_post.scss */
.post:not(:first-child) {
  border-top: 1px solid #f9f9f9;
}
/* line 23, ../sass/bem/_post.scss */
.post:not(:last-child) {
  border-bottom: 1px solid #cdcdcd;
}

/* line 33, ../sass/bem/_post.scss */
.post__h-left {
  float: left;
  max-width: 50%;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.013;
  color: #494949;
}

/* line 47, ../sass/bem/_post.scss */
.post__h-right {
  float: right;
  max-width: 50%;
}

/* line 63, ../sass/bem/_post.scss */
.post__date, .post__comm {
  display: inline-block;
  padding-left: 22px;
  min-height: 14px;
  height: 14px;
  margin-left: 25px;
  font-size: 14px;
  letter-spacing: 0.013px;
  vertical-align: middle;
  line-height: 14px;
  color: #999797;
  background-image: url(../img/icons-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 14px;
}

/* line 89, ../sass/bem/_post.scss */
.post__comm {
  background-position: 0 -18px;
}

/* line 102, ../sass/bem/_post.scss */
.post__img {
  display: inline-block;
  /* will be image-width*/
  position: relative;
  margin-top: 20px;
  /* remove space under img*/
  font-size: 0px;
  line-height: 0px;
}

/* line 111, ../sass/bem/_post.scss */
.post__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: radial-gradient(ellipse cover at center, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-size: auto;
  /* override mixin*/
  background-color: rgba(255, 255, 255, 0.5);
  transition: opacity .2s ease-in-out 0s;
}
/* line 112, ../sass/bem/_post.scss */
.post__overlay:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  display: block;
  height: 32px;
  width: 32px;
  background: url("../img/icons-sprite.png") no-repeat 0 -86px;
}
/* line 145, ../sass/bem/_post.scss */
.post__overlay:hover {
  opacity: 1;
  box-shadow: inset 0 0 0 1px #ff5346;
}
/* line 149, ../sass/bem/_post.scss */
.post__overlay a {
  display: block;
  height: 100%;
}

/* line 162, ../sass/bem/_post.scss */
.post__text {
  margin-top: 20px;
}

/* line 166, ../sass/bem/_post.scss */
.post__read {
  margin-top: 52px;
  font-size: 14px;
  text-align: right;
  color: #2a99d8;
}

/* line 4, ../sass/bem/_media.scss */
.media {
  position: relative;
  /* for everything inside*/
  width: 506px;
  margin: 0 auto;
  margin-bottom: 5px;
}

/* line 12, ../sass/bem/_media.scss */
.media__pattern {
  border-top: 151px solid rgba(77, 59, 124, 0.9);
  border-right: transparent 74px solid;
  width: 432px;
  mix-blend-mode: multiply;
}

/* line 23, ../sass/bem/_media.scss */
.media__body {
  position: absolute;
  top: 21px;
  left: 115px;
  width: 298px;
  white-space: pre-line;
  font-size: 12px;
  color: #fff;
}

/* line 36, ../sass/bem/_media.scss */
.media__img {
  position: absolute;
  top: -14px;
  left: -82px;
  overflow: hidden;
  width: 168px;
  height: 168px;
  border: 6px solid rgba(88, 73, 174, 0.4);
  border-radius: 50%;
  z-index: 400;
}
/* line 49, ../sass/bem/_media.scss */
.media__img > img {
  max-width: none;
}

/* line 58, ../sass/bem/_media.scss */
.media__pattern--right {
  margin-left: -18px;
  border-left: transparent 74px solid;
  border-right: none;
}

/* line 64, ../sass/bem/_media.scss */
.media__img--right {
  left: initial;
  right: -64px;
}

/* line 71, ../sass/bem/_media.scss */
.media__body--right {
  right: 132px;
  left: initial;
  text-align: right;
}

/* Small Devices, Tablets */
/* line 4, ../sass/bem/_mini-content.scss */
.mini-content {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 16px;
  letter-spacing: 0px;
  padding: 0 30px;
  vertical-align: top;
  width: 240px;
}

/* line 20, ../sass/bem/_mini-content.scss */
.mini-content__h {
  font-size: 20px;
  text-transform: uppercase;
  color: #ff5346;
}

/* line 28, ../sass/bem/_mini-content.scss */
.mini-content__text {
  padding-top: 16px;
  font-size: 14px;
  color: #fff;
}

/* line 51, ../sass/bem/_mini-content.scss */
.mini-content--flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  /* line 71, ../sass/bem/_mini-content.scss */
  .mini-content:nth-child(1) {
    width: 240px;
    padding-left: 0;
    text-align: left;
  }
  /* line 76, ../sass/bem/_mini-content.scss */
  .mini-content:nth-child(2) {
    width: 213px;
    padding-left: 0;
    text-align: left;
  }
  /* line 81, ../sass/bem/_mini-content.scss */
  .mini-content:nth-child(3) {
    width: 213px;
    text-align: center;
  }
  /* line 85, ../sass/bem/_mini-content.scss */
  .mini-content:nth-child(4) {
    width: 213px;
    padding-right: 0;
    text-align: right;
  }
  /* line 90, ../sass/bem/_mini-content.scss */
  .mini-content:nth-child(5) {
    width: 240px;
    padding-right: 0;
    text-align: right;
  }
}
/* FOOTER */
/* line 6, ../sass/bem/_footer.scss */
.breadcrumbs {
  background-color: #cfd8dc;
}

/* line 25, ../sass/bem/_footer.scss */
.footer {
  box-sizing: border-box;
  color: white;
}

/* line 34, ../sass/bem/_footer.scss */
.footer--onyx-grad {
  background-color: #1b2024;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiMjAyNCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2ZmNTM0NiIgc3RvcC1vcGFjaXR5PSIwLjA4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY1MzQ2IiBzdG9wLW9wYWNpdHk9IjAuMDgiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(27, 32, 36, 0.1)), color-stop(85%, rgba(255, 83, 70, 0.08)), color-stop(100%, rgba(255, 83, 70, 0.08)));
  background-image: -moz-linear-gradient(top, rgba(27, 32, 36, 0.1) 0%, rgba(255, 83, 70, 0.08) 85%, rgba(255, 83, 70, 0.08) 100%);
  background-image: -webkit-linear-gradient(top, rgba(27, 32, 36, 0.1) 0%, rgba(255, 83, 70, 0.08) 85%, rgba(255, 83, 70, 0.08) 100%);
  background-image: linear-gradient(to bottom, rgba(27, 32, 36, 0.1) 0%, rgba(255, 83, 70, 0.08) 85%, rgba(255, 83, 70, 0.08) 100%);
}

/* line 43, ../sass/bem/_footer.scss */
.footer__logo {
  margin-top: 39px;
}

/* line 47, ../sass/bem/_footer.scss */
.footer form {
  float: right;
  width: 100%;
  box-sizing: border-box;
  max-width: 315px;
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 4px;
}
/* line 56, ../sass/bem/_footer.scss */
.footer form input {
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: "PT Serif", courier;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: white;
  background-color: transparent;
  outline: none;
}

/* line 75, ../sass/bem/_footer.scss */
.nav1 {
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-family: Roboto, courier;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

/* line 86, ../sass/bem/_footer.scss */
.nav1__item {
  display: inline-block;
  margin-left: 49px;
}
/* line 89, ../sass/bem/_footer.scss */
.nav1__item:first-child {
  margin-left: 0;
}

/* line 97, ../sass/bem/_footer.scss */
.footer1 {
  box-sizing: border-box;
  border-bottom: 1px solid white;
  min-height: 200px;
  padding-top: 19px;
}

/* line 111, ../sass/bem/_footer.scss */
.footer2 {
  min-height: 50px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: white;
  background-color: #ff5346;
}

/* line 123, ../sass/bem/_footer.scss */
.footer3 {
  height: 53px;
  padding: 14px 0;
  color: white;
  background-color: #010102;
}

/* line 132, ../sass/bem/_footer.scss */
.copyright {
  font-family: Roboto, courier;
  font-weight: 100;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}
/* line 140, ../sass/bem/_footer.scss */
.copyright strong, .copyright b {
  font-weight: 900;
}

/* line 4, ../sass/bem/_icons.scss */
.icons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 12, ../sass/bem/_icons.scss */
.icons__ic {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 209px;
  height: 175px;
  padding: 15px;
  margin-right: 11px;
  vertical-align: top;
  background-color: #594aaf;
}
/* line 27, ../sass/bem/_icons.scss */
.icons__ic::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 209px;
  height: 175px;
  margin-bottom: 12px;
  background: url(../img/ic1.png) no-repeat;
  background-position: center bottom;
}

/* line 44, ../sass/bem/_icons.scss */
.icons__img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 51, ../sass/bem/_icons.scss */
.icons__title {
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}

/* line 58, ../sass/bem/_icons.scss */
.icons__descr {
  margin-top: 25px;
  font-size: 14px;
  color: #fff;
  text-transform: none;
}

/* line 68, ../sass/bem/_icons.scss */
.temp1 {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 100%;
  left: 0;
  /*margin-left: -15px;
  margin-right: -15px;*/
  border-left: 5px solid #594aaf;
  border-right: 5px solid #594aaf;
  height: 81px;
}

/* line 87, ../sass/bem/_icons.scss */
.icons__ic--1 {
  margin-left: -16px;
}
/* line 91, ../sass/bem/_icons.scss */
.icons__ic--1::after {
  bottom: calc(100% - 30px);
  z-index: 300;
}

/* line 96, ../sass/bem/_icons.scss */
.icons__ic--2 {
  width: 197px;
  margin-right: 5px;
}
/* line 99, ../sass/bem/_icons.scss */
.icons__ic--2::after {
  background-image: url(../img/ic2.png);
  z-index: 300;
}

/* line 104, ../sass/bem/_icons.scss */
.icons__ic--3 {
  width: 197px;
  margin-right: 7px;
}
/* line 107, ../sass/bem/_icons.scss */
.icons__ic--3::after {
  background-image: url(../img/ic3.png);
  z-index: 300;
}

/* line 112, ../sass/bem/_icons.scss */
.icons__ic--4 {
  margin-right: -16px;
}
/* line 115, ../sass/bem/_icons.scss */
.icons__ic--4::after {
  height: 500px;
  background-image: url(../img/ic4.png);
  z-index: 300;
}

/* line 5, ../sass/bem/_cards.scss */
.black-card, .card-product, .card--more {
  font-family: Roboto, courier;
  font-weight: 100;
  font-size: 18px;
  overflow: hidden;
  list-style-type: none;
  border-radius: 4px;
  color: #fff;
  background-color: #010102;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.7);
}

/* line 20, ../sass/bem/_cards.scss */
.black-card__item {
  display: block;
  padding: 9px 0;
}
/* line 23, ../sass/bem/_cards.scss */
.black-card__item:not(:first-child) {
  border-top: 1px solid white;
}

/* line 30, ../sass/bem/_cards.scss */
.black-card__img {
  width: 100%;
}

/* line 36, ../sass/bem/_cards.scss */
.flat-card {
  height: 336px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
  border-radius: 0px;
  color: #000;
  background-color: #fff;
}

/* line 49, ../sass/bem/_cards.scss */
.flat-card__head {
  box-sizing: border-box;
  min-height: 86px;
  padding: 32px 43px 44px 64px;
  font-size: 28.91px;
  line-height: 1;
  vartical-align: middle;
  text-align: right;
  text-transform: uppercase;
  color: #594aaf;
}

/* line 63, ../sass/bem/_cards.scss */
.flat-card__content {
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: auto;
}

/* line 72, ../sass/bem/_cards.scss */
.flat-card__item {
  display: block;
  padding: 9px 0;
}
/* line 75, ../sass/bem/_cards.scss */
.flat-card__item:not(:first-child) {
  border-top: 1px solid white;
}

/* line 82, ../sass/bem/_cards.scss */
.flat-card__img {
  max-width: 100%;
}

/* line 89, ../sass/bem/_cards.scss */
.flat-card--ib {
  display: inline-block;
  min-width: 260px;
}

/* line 97, ../sass/bem/_cards.scss */
.flat-card--1 .flat-card__content {
  width: 239px;
}

/* line 101, ../sass/bem/_cards.scss */
.flat-card--2 {
  max-width: 260px;
  margin-left: 5px;
  height: 177px;
  overflow: hidden;
  background-color: rgba(198, 156, 109, 0.9);
}
/* line 110, ../sass/bem/_cards.scss */
.flat-card--2 .flat-card__content {
  padding: 31px 30px 29px 30px;
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  overflow: hidden;
  color: #fff;
}

/* line 129, ../sass/bem/_cards.scss */
.item__badge {
  float: right;
}
/* line 132, ../sass/bem/_cards.scss */
.item__badge:before {
  content: "+";
}
/* line 135, ../sass/bem/_cards.scss */
.cat__link--active + .item__badge:before, .cat--lvl2__link--active + .item__badge:before, .cat--lvl2__link:hover + .item__badge:before {
  content: "-";
}

/* line 144, ../sass/bem/_cards.scss */
.cat {
  margin-bottom: 30px;
  /*not less  than hover-margin. So it will collapse*/
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  list-style-type: none;
}

/* line 153, ../sass/bem/_cards.scss */
.cat--lvl1 {
  margin-left: 85px;
  font-family: sans-serif;
}

/* line 157, ../sass/bem/_cards.scss */
.cat--lvl2 {
  margin-left: 0;
  padding-left: 0;
  font-size: 20px;
  line-height: 24px;
  /* ╨╗╨╕╨╜╨╡╨╣╨║╨╛╨╣*/
  text-transform: none;
  list-style-type: disc;
  list-style-position: inside;
}

/*ahref activity*/
/* ╨╜╨╡ ╨┐╨╛╨╗╤Г╤З╨░╨╡╤В╤Б╤П ╤В╨░╨║ */
/* line 179, ../sass/bem/_cards.scss */
.cat--lvl2__link--active, .cat--lvl2__link:hover {
  color: #fff;
}

/* li activity*/
/* line 186, ../sass/bem/_cards.scss */
.cat--closed .cat {
  display: none;
}

/* line 193, ../sass/bem/_cards.scss */
.cat__item--lvl1 > .cat__link {
  position: relative;
  /* for :before*/
  padding: 8px 0 7px;
  z-index: 0;
  /* for z-context being this li*/
}
/* line 198, ../sass/bem/_cards.scss */
.cat__item--lvl1 > .cat__link:hover, .cat__item--lvl1.cat__item--active > .cat__link {
  background-color: #D59D6B;
}
/* line 202, ../sass/bem/_cards.scss */
.cat__item--lvl1 > .cat__link:hover::before, .cat__item--lvl1.cat__item--active > .cat__link::before {
  visibility: visible;
  opacity: 1;
}
/* line 207, ../sass/bem/_cards.scss */
.cat__item--lvl1 > .cat__link::before {
  content: '';
  position: absolute;
  top: -43px;
  left: -148px;
  display: block;
  width: 376px;
  height: 126px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  background-image: url(../img/base-shape.png);
  background-repeat: no-repeat;
  transition: opacity .2s ease-in-out .0s, visibility .2s ease-in-out .0s;
}

/* line 226, ../sass/bem/_cards.scss */
.cat--lvl2:target,
.cat__item--active > .cat--lvl2 {
  /* not bem. If there is inner elements, then displays them block*/
  display: block;
}

/*cascading antibem: */
/* line 231, ../sass/bem/_cards.scss */
.cat--lvl1 > .cat__item--active
, .cat--lvl1 > .cat__item:hover {
  margin-bottom: 30px;
  /* not padding, so it will collapse with other mg.*/
}

/* line 242, ../sass/bem/_cards.scss */
.cat * {
  transition: padding .2s ease-in-out 0s;
}

/* line 265, ../sass/bem/_cards.scss */
.colors > input {
  display: none;
}

/* line 268, ../sass/bem/_cards.scss */
.colors > label {
  width: 30px;
  height: 30px;
  margin-right: 19px;
  transform: skewX(-30deg) translateX(10px);
  opacity: .5;
}

/*//╨╜╨╛╨▓╤Л╨╣ ╤Ж╨▓╨╡╤В ╨║╨░╨╢╨┤╤Л╨╣ ╤Ж╨╕╨║╨╗*/
/* line 284, ../sass/bem/_cards.scss */
.colors > label:nth-of-type(1) {
  background-color: #eeab56;
}

/* line 284, ../sass/bem/_cards.scss */
.colors > label:nth-of-type(2) {
  background-color: #ffab91;
}

/* line 284, ../sass/bem/_cards.scss */
.colors > label:nth-of-type(3) {
  background-color: #aed581;
}

/* line 284, ../sass/bem/_cards.scss */
.colors > label:nth-of-type(4) {
  background-color: #bdbdbd;
}

/* line 284, ../sass/bem/_cards.scss */
.colors > label:nth-of-type(5) {
  background-color: #40c4ff;
}

/* line 284, ../sass/bem/_cards.scss */
.colors > label:nth-of-type(6) {
  background-color: #9575cd;
}

/* line 284, ../sass/bem/_cards.scss */
.colors > label:nth-of-type(7) {
  background-color: #f06292;
}

/* line 284, ../sass/bem/_cards.scss */
.colors > label:nth-of-type(8) {
  background-color: #fff176;
}

/* line 288, ../sass/bem/_cards.scss */
.colors > input:checked + label {
  outline: 1px solid white;
  box-shadow: inset 0 0 0 2px white;
  /* fallback*/
  opacity: 1;
}

/* line 298, ../sass/bem/_cards.scss */
.sizes {
  word-spacing: 14px;
}

/* line 303, ../sass/bem/_cards.scss */
.size-badge {
  display: inline-block;
  box-sizing: border-box;
  min-width: 40px;
  min-height: 30px;
  padding: 5px 7px;
  margin-top: 15px;
  font-family: "PT Serif", courier;
  font-weight: 100;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  color: #000;
  background-color: #e0e0e0;
}

/* CONTENT */
/* line 344, ../sass/bem/_cards.scss */
.card-product {
  position: relative;
  margin-bottom: 30px;
}

/* line 351, ../sass/bem/_cards.scss */
.card--more {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: "PT Serif", courier;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

/* line 365, ../sass/bem/_cards.scss */
.card_over {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
/* line 371, ../sass/bem/_cards.scss */
.card_over > h2 {
  font-family: "PT Serif", courier;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 376, ../sass/bem/_cards.scss */
.card_over > h2 > span {
  font-weight: 700;
}
/* line 380, ../sass/bem/_cards.scss */
.card_over > .card_over1 {
  font-family: Roboto, courier;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 386, ../sass/bem/_cards.scss */
.card_over > .card_over2 {
  font-family: "PT Serif", courier;
  font-weight: 300;
  font-size: 18px;
  color: #bdbdbd;
}
/* line 393, ../sass/bem/_cards.scss */
.card_over > .card_over3 {
  font-family: Roboto, courier;
  font-weight: 400;
  font-size: 24px;
}

/* line 401, ../sass/bem/_cards.scss */
.ribbon-style, .ribbon-style2, .ribbon-new, .ribbon-cool {
  position: absolute;
  top: 0;
  right: 0;
  width: 79px;
  height: 40px;
  font-family: "PT Serif", courier;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  font-style: italic;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 418, ../sass/bem/_cards.scss */
.ribbon-style {
  background-color: #00838f;
  color: #fff;
}

/* line 424, ../sass/bem/_cards.scss */
.ribbon-style2 {
  background-color: #d91456;
  color: #fff;
}

/* line 430, ../sass/bem/_cards.scss */
.ribbon-new {
  background-color: #689f38;
  color: #fff;
}

/* line 437, ../sass/bem/_cards.scss */
.ribbon-cool {
  background-color: #e64a19;
  color: #fff;
}

/* ╨▒╨╗╨░╨│╨╛╨┤╨░╤А╤П ╤В╨╛╨╝╤Г, ╤З╤В╨╛ ╨▓ ╨▒╤Г╤В╤Б╤В╤А╨░╨┐╨╡ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨╖╨░╨┤╨░╨╜╤Л ╨▓ %, ╨╝╨╛╨╢╨╜╨╛ ╨┐╨╛╨┐╤Л╤В╨░╤В╤М╤Б╤П ╨┐╨╛╨┤╨┐╤А╨░╨▓╨╕╤В╤М ╤И╨╕╤А╨╕╨╜╤Г ╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А╨░*/
/* kinda reset */
/* line 15, ../sass/_uncompiled_to_import.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/_uncompiled_to_import.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 23, ../sass/_uncompiled_to_import.scss */
a:focus, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

/* line 27, ../sass/_uncompiled_to_import.scss */
body {
  font-family: courier;
  background-color: #cfd8dc;
  color: #fff;
}

/* line 33, ../sass/_uncompiled_to_import.scss */
body.when-scrolling {
  pointer-events: none;
}

/* line 36, ../sass/_uncompiled_to_import.scss */
img {
  max-width: 100%;
}

/* line 39, ../sass/_uncompiled_to_import.scss */
input:focus {
  outline: none;
}

/* line 42, ../sass/_uncompiled_to_import.scss */
input {
  width: 100%;
}

/* line 45, ../sass/_uncompiled_to_import.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 48, ../sass/_uncompiled_to_import.scss */
area:focus {
  outline: none;
}

/* line 51, ../sass/_uncompiled_to_import.scss */
area {
  outline: red 1px solid;
}

/* line 57, ../sass/_uncompiled_to_import.scss */
* {
  transition: width .5s ease-in-out;
}

/* helping classes*/
/* line 63, ../sass/_uncompiled_to_import.scss */
.fw-500 {
  font-weight: 500;
}

/* line 66, ../sass/_uncompiled_to_import.scss */
.posstat {
  position: static;
}

/* line 69, ../sass/_uncompiled_to_import.scss */
.posrel {
  position: relative;
}

/* line 72, ../sass/_uncompiled_to_import.scss */
.posabs {
  position: absolute;
}

/* line 75, ../sass/_uncompiled_to_import.scss */
.bot0 {
  bottom: 0;
}

/* line 78, ../sass/_uncompiled_to_import.scss */
.disflex {
  display: flex;
  flex-flow: row wrap;
}

/* line 82, ../sass/_uncompiled_to_import.scss */
.disflexcol {
  display: flex;
  flex-flow: column wrap;
}

/* line 86, ../sass/_uncompiled_to_import.scss */
.hide {
  display: none;
}

/* line 89, ../sass/_uncompiled_to_import.scss */
.height {
  height: 2000px;
}

/* line 92, ../sass/_uncompiled_to_import.scss */
.clear, .header-simple:after, .footer-simple:after {
  clear: both;
}

/* line 107, ../sass/_uncompiled_to_import.scss */
.afterclear, .cols:after {
  content: '';
  display: table;
  clear: both;
}

/* line 113, ../sass/_uncompiled_to_import.scss */
.containerow, .containerow2 {
  max-width: 805px;
  margin: 0 auto;
}
/* line 117, ../sass/_uncompiled_to_import.scss */
.containerow:before, .containerow2:before, .containerow:after, .containerow2:after {
  content: '';
  clear: both;
  display: table;
  /*display:none;*/
}

/* line 124, ../sass/_uncompiled_to_import.scss */
.containerow2 {
  max-width: 980px;
  padding: 0;
}

/* ╨║╨░╨║ ╨┐╨╡╤А╨╡╨╜╨╛╤Б╨╕╤В╤М ╤Б╨╗╨╛╨▓╨░ ╨┐╨╛ ╨▒╤Г╨║╨▓╨░╨╝, ╨║╨╛╨│╨┤╨░ ╤Б╨╗╨╕╤И╨║╨╛╨╝ ╨┤╨╗╨╕╨╜╨╜╤Л╨╡?*/
/* debug helping*/
/* MOCK-UP start*/
/* line 146, ../sass/_uncompiled_to_import.scss */
.wrapper {
  min-height: 3431px;
  overflow: auto;
  /* to not get out of range*/
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-x;
}

/* hamburger */
/* line 157, ../sass/_uncompiled_to_import.scss */
.header__btn-menu {
  float: right;
  display: inline-block;
  width: 60px;
  height: 49px;
  background-image: url(../img/sprt.svg);
  background-size: 428px;
  background-position: -65px -88px;
  margin-right: 20px;
}

/* line 167, ../sass/_uncompiled_to_import.scss */
.header__btn-menu--closed {
  background-position: -274px 13px;
  background-size: 428px;
}

@media only screen and (min-width: 992px) {
  /* line 173, ../sass/_uncompiled_to_import.scss */
  .header__btn-menu {
    display: none;
  }
}
/* List of hamburger options */
/* line 178, ../sass/_uncompiled_to_import.scss */
.header__list {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: transparent;
}

/* line 187, ../sass/_uncompiled_to_import.scss */
.header__list li {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #000;
  border-top: 1px solid #485361;
}

@media only screen and (min-width: 992px) {
  /* line 194, ../sass/_uncompiled_to_import.scss */
  .header__list {
    display: inline;
    position: static;
  }

  /* line 198, ../sass/_uncompiled_to_import.scss */
  .header__list li {
    display: inline-block;
    padding: 0 5px 8px;
    border: none;
  }
}
/* line 210, ../sass/_uncompiled_to_import.scss */
.signin-widget {
  border: 1px solid white;
  font-size: 18px;
  font-weight: 100;
  line-height: 15px;
  text-align: center;
  border-radius: 4px;
}

/* line 220, ../sass/_uncompiled_to_import.scss */
.signin-widget a {
  display: block;
  padding: 13px;
}

/* line 224, ../sass/_uncompiled_to_import.scss */
.signin-widget__top {
  border-bottom: 1px solid white;
}
/* line 227, ../sass/_uncompiled_to_import.scss */
.signin-widget__top > a {
  white-space: pre-wrap;
}
/* line 229, ../sass/_uncompiled_to_import.scss */
.signin-widget__top > a:hover {
  background-color: #eee;
}

/* line 234, ../sass/_uncompiled_to_import.scss */
.signin-widget__bot > a {
  white-space: pre-wrap;
}
/* line 236, ../sass/_uncompiled_to_import.scss */
.signin-widget__bot > a:hover {
  background-color: #eee;
}

/* line 246, ../sass/_uncompiled_to_import.scss */
.header__nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 254, ../sass/_uncompiled_to_import.scss */
.header__nav .nav-tabs {
  margin-left: 17%;
}

/* line 262, ../sass/_uncompiled_to_import.scss */
.nav li {
  display: inline-block;
}

/* line 267, ../sass/_uncompiled_to_import.scss */
.nav-tabs {
  border-bottom: none;
}

/* line 270, ../sass/_uncompiled_to_import.scss */
.nav > li {
  position: static;
  float: none;
}

/* line 275, ../sass/_uncompiled_to_import.scss */
.dropdown-menu {
  top: auto;
}

/* line 278, ../sass/_uncompiled_to_import.scss */
ul.dropdown-menu.nav.nav-tabs {
  position: absolute;
  left: 0;
  width: 100%;
}

/* line 285, ../sass/_uncompiled_to_import.scss */
.tabs {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* line 290, ../sass/_uncompiled_to_import.scss */
.tabs > li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: -1px;
}

/* line 296, ../sass/_uncompiled_to_import.scss */
.nav-tabs--lvl2 {
  margin-left: 0%;
  font-family: Roboto, courier;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #000;
}

/**/
/* line 308, ../sass/_uncompiled_to_import.scss */
.dropdown-menu.nav-tabs {
  /* top: auto;
   left: 0;
   right: 0;
   width: 100vw;*/
}

/* line 321, ../sass/_uncompiled_to_import.scss */
.a, .b, .c {
  padding: 0 15px;
}

/* line 325, ../sass/_uncompiled_to_import.scss */
.b {
  order: 10;
}

/* line 326, ../sass/_uncompiled_to_import.scss */
.c {
  justify-content: space-between;
}

/* line 337, ../sass/_uncompiled_to_import.scss */
.Acol-md-2 {
  flex-basis: 16.66666667%;
}

/* line 340, ../sass/_uncompiled_to_import.scss */
.Acol-md-3 {
  flex-basis: 24%;
}

/* line 343, ../sass/_uncompiled_to_import.scss */
.Acol-md-7 {
  flex-basis: 58.33333333%;
}

/* line 354, ../sass/_uncompiled_to_import.scss */
.breadcrumbs {
  min-height: 75px;
  font-family: Roboto, courier;
  font-weight: 500;
  font-size: 16px;
  line-height: 75px;
}
/* line 362, ../sass/_uncompiled_to_import.scss */
.breadcrumbs a:after {
  content: "";
}

/*Central Part*/
/* separated*/
/* line 374, ../sass/_uncompiled_to_import.scss */
.screen1 {
  min-height: 707px;
  background-image: url(../img/scr1bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 5px) top;
}
/* line 383, ../sass/_uncompiled_to_import.scss */
.screen1 .h2 {
  margin-left: 15px;
  margin-top: 48px;
  margin-bottom: 39px;
  width: 444px;
  font-size: 55.86px;
  text-transform: uppercase;
}
/* line 393, ../sass/_uncompiled_to_import.scss */
.screen1 .p1 {
  margin-left: 20px;
  margin-bottom: 25px;
  width: 393px;
  font-size: 16px;
}
/* line 401, ../sass/_uncompiled_to_import.scss */
.screen1 .span1 {
  display: inline-block;
  box-sizing: border-box;
  height: 69px;
  width: 444px;
  margin-left: 19px;
  margin-top: 36px;
  padding: 24px;
  font-size: 18.37px;
  text-transform: uppercase;
  background-image: url(../img/btn1.png);
  background-repeat: no-repeat;
}
/* line 420, ../sass/_uncompiled_to_import.scss */
.screen1 .imgmap {
  /* spare background. But if file doesn't exist, it won't help.*/
  height: 69px;
  /* bg*/
  width: 444px;
  margin-left: 19px;
  margin-top: 36px;
  background-image: url(../img/btn1.png);
  background-repeat: no-repeat;
}
/* line 430, ../sass/_uncompiled_to_import.scss */
.screen1 .imgmap__text {
  top: 0;
  left: 0;
  padding: 24px;
  font-size: 18.37px;
  text-transform: uppercase;
}
/* line 443, ../sass/_uncompiled_to_import.scss */
.screen1 .logo2 {
  display: inline-block;
  min-width: 30%;
  min-height: 6px;
  /* if inside is posabs*/
  text-align: center;
}
/* line 451, ../sass/_uncompiled_to_import.scss */
.screen1 .logo2__link {
  width: 174px;
  /*bg*/
  height: 173px;
  margin-top: -50px;
  border-radius: 50%;
  background-image: url(../img/logo-big.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 465, ../sass/_uncompiled_to_import.scss */
.screen2 {
  min-height: 625px;
  background-image: url(../img/scr2bg.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% - 5px) top;
  background-size: cover;
}
/* line 474, ../sass/_uncompiled_to_import.scss */
.screen2 .containerow, .screen2 .containerow2 {
  position: relative;
  /* for signup*/
}
/* line 478, ../sass/_uncompiled_to_import.scss */
.screen2 h2 {
  margin-left: auto;
  box-sizing: border-box;
  width: 420px;
  max-height: 147px;
  padding-bottom: 50px;
  padding-top: 23px;
  margin-right: 35px;
  font-size: 55.86px;
  text-transform: uppercase;
  text-align: right;
  line-height: 1;
  text-shadow: 3px 3px #594aaf;
  color: rgba(255, 255, 255, 0.5);
}
/* line 498, ../sass/_uncompiled_to_import.scss */
.screen2 span {
  display: block;
  /* removes lh*/
  font-size: 25.36px;
  line-height: 1;
  /* doesn't decrease*/
}
/* line 508, ../sass/_uncompiled_to_import.scss */
.screen2 .posabs1 {
  float: right;
  margin-right: 35px;
  width: 300px;
  text-align: right;
}
/* line 519, ../sass/_uncompiled_to_import.scss */
.screen2 .posabs1 .button {
  display: inline-block;
  width: 293px;
  /* bg*/
  height: 69px;
  background-image: url(../img/btn2.png);
  background-repeat: no-repeat;
}
/* line 527, ../sass/_uncompiled_to_import.scss */
.screen2 .posabs1 p {
  display: inline-block;
  width: 233px;
  margin-top: 8px;
  font-size: 17px;
  text-align: right;
  color: #594aaf;
}
/* line 540, ../sass/_uncompiled_to_import.scss */
.screen2 .imgmap {
  /* spare background. But if file doesn't exist, it won't help.*/
  height: 69px;
  /* bg*/
  width: 444px;
  margin-left: 19px;
  margin-top: 36px;
  background-image: url(../img/btn1.png);
  background-repeat: no-repeat;
}
/* line 550, ../sass/_uncompiled_to_import.scss */
.screen2 .imgmap__text {
  top: 0;
  right: 0;
  padding: 20px 35px;
  font-size: 30.07px;
  text-transform: uppercase;
}

/* line 564, ../sass/_uncompiled_to_import.scss */
.screen3 {
  min-height: 644px;
}
/* line 567, ../sass/_uncompiled_to_import.scss */
.screen3 h2 {
  width: 50%;
  margin-left: 30px;
  margin-top: 50px;
  font-size: 55.86px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
/* line 580, ../sass/_uncompiled_to_import.scss */
.screen3 .icons {
  margin-top: 219px;
}

/* line 586, ../sass/_uncompiled_to_import.scss */
.screen4 {
  min-height: 691px;
  background-image: url(../img/scr4bg.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% - 5px) top;
}
/* line 594, ../sass/_uncompiled_to_import.scss */
.screen4 h2 {
  float: right;
  width: 420px;
  height: 73px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 55.86px;
  text-transform: uppercase;
  text-align: right;
  line-height: 1;
  color: #c69c6d;
  text-shadow: -3px -3px #594aaf;
}
/* line 611, ../sass/_uncompiled_to_import.scss */
.screen4 .else {
  padding: 5px 0;
  font-size: 28.91px;
  text-align: center;
  color: #594aaf;
}

/* line 621, ../sass/_uncompiled_to_import.scss */
.screen5 {
  position: relative;
  /*for layer*/
  min-height: 618px;
  border-top: rgba(104, 62, 14, 0.2);
}
/* line 626, ../sass/_uncompiled_to_import.scss */
.screen5 .h2 {
  height: 106px;
  padding-left: 32px;
  font-size: 55.86px;
  text-transform: uppercase;
  line-height: 106px;
  color: #fff;
}
/* line 637, ../sass/_uncompiled_to_import.scss */
.screen5 .containerow, .screen5 .containerow2 {
  position: relative;
  /* for floating lay*/
  z-index: 500;
}
/* line 641, ../sass/_uncompiled_to_import.scss */
.screen5 .floating-layer {
  position: absolute;
  top: 32px;
  right: 3px;
  width: 392px;
  height: 100%;
}
/* line 648, ../sass/_uncompiled_to_import.scss */
.screen5 .bshad {
  box-shadow: 11px 11px 0 0 #594aaf;
  margin-bottom: 24px;
}
/* line 652, ../sass/_uncompiled_to_import.scss */
.screen5 .stick {
  position: absolute;
  top: -31px;
  left: 31px;
  z-index: -1;
  height: 620px;
  width: 4px;
  background-color: #594aaf;
}
/* line 661, ../sass/_uncompiled_to_import.scss */
.screen5 input {
  border: none;
  margin-bottom: 11px;
}
/* line 665, ../sass/_uncompiled_to_import.scss */
.screen5 input[type="text"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  color: #666;
  background-color: #e6e6e6;
}
/* line 679, ../sass/_uncompiled_to_import.scss */
.screen5 .submit {
  display: block;
  width: 239px;
  height: 48px;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #7462d3;
  background-image: url(../img/btn5.jpg);
  background-repeat: no-repeat;
}

/* line 702, ../sass/_uncompiled_to_import.scss */
.map {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  height: 512px;
  overflow: hidden;
  text-align: center;
}

/* line 714, ../sass/_uncompiled_to_import.scss */
footer {
  height: 142px;
  /*d*/
  padding-top: 16px;
}

/* line 718, ../sass/_uncompiled_to_import.scss */
.mails {
  text-align: right;
  line-height: 1.5;
}

/* line 727, ../sass/_uncompiled_to_import.scss */
.svg-icons div {
  height: 50px;
}

/* line 731, ../sass/_uncompiled_to_import.scss */
svg.svg-class {
  /*height: 40px;
  width: 50px;
  margin-left: 15px;*/
  fill: #2b414d;
  stroke: blue;
  stroke-width: 1px;
}

/*==========  Desktop First Method  ==========*/
/* Gracefull degr*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  /* line 24, ../sass/_media.scss */
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
/* X-tremer */
/* Iphone4 */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* line 36, ../sass/style.scss */
.hide {
  display: none !important;
}
