

.cols {
    border: 2px solid $VIOLET;
    box-sizing: border-box;
    height: 100%;
    
    background-color: #1a1f23;
    border-radius: 10px;
    
    &:after {
        @extend .afterclear;
    }
}


.cols__col {
    
    &:first-child {
        border-left:none;
        //or
        //margin-left: -1px;
    }
    
    float: left;
    box-sizing: border-box;
    height: 100%;
    border-left: 1px solid $VIOLET;
    width: 50%;
    padding: 20px;
    
    @extend %PTSansReg;
    font-size: 16px;
    text-align: center;
    
    list-style-type: none;
    color: #fff;
    
    
    li {
        padding-bottom: 19px;
    }
}
