@import "_vars";

.navi {
    position: relative; /* for lvl2*/
    height: 74px;
    
    @extend %ProximaNL;
    font-size: 20.25px;
    
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    
    
    color: $bronzInit;
    background-image: url(../img/navi-bg.jpg);
    background-image: url(../img/navi-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
}

    .navi--closed .navi--lvl2 {
        display: none;
    }


.navi .containerow {
    height: 100%;
}



$black_padding: 22px;
.navi__item {
    
    
    position: relative;
    display: inline-block;
    height: 100%; /* for link*/
    width: 17.5%;
    
    padding-bottom: $black_padding+20px;
    //border-bottom: 20px solid transparent;
    
    vertical-align: top;
    
   /* 
    &:nth-child(1){
        //width: 122px;
        width: 20%;
    }
    &:nth-child(2){
        //width: 127px;
        width: 20%;
    }
    &:nth-child(3){
        //width: 306px;
        width: 20%;
    }
    &:nth-child(4){
        //width: 127px;
        width: 20%;
    }
    &:nth-child(5){
       // width: 157px;
        width: 20%;
    }*/
    
    &:before {
        display: none;
        content: '';
        position: absolute;
        top: calc(100% - 12px);
        left: calc(50% - 7px);
        
        border-bottom: 12px black solid;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }
    
    &:hover:before, &.active:before {
        display: block;    
    }
    &:hover   .navi--lvl2, &.active   .navi--lvl2 {
        display: block;
    }
    
    //окрас
    &:hover .navi__link, 
    &.active .navi__link {
        color: $CRIMSON;
        background-color: $menu-hover;
    }
    
    &:first-child {
        text-align: left;
        .navi__link {
            margin-left: -25px;
        }
    }
    &:last-child {
        text-align: right;
        .navi__link {
            margin-right: -25px;
        }
    }
}


.navi__link {
    display:inline-block;
    padding: 29px 25px ;
    
    box-sizing: border-box;
    height: 100%;
    //padding: 15px $black_padding;
    
}






.navi--lvl2 {
    position: absolute;
    left: -62px;
    top: 100%;  //calc(100% + 21px);
    max-width: 100vw;
    width: 424px;
    height: 212px;
    border: 2px solid $VIOLET;
    
    overflow: hidden;
    list-style-type: none;
    
    z-index: 1000;
    background-color: #1a1f23;
    border-radius: 10px;
}

